.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  overflow: hidden;
}

@keyframes slidedown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/* name */
.tooltip > div:nth-child(1) {
  padding: 10px 20px 10px 20px;
  font-size: 30px;
  background-color: rgba(30, 20, 20, 0.2);
  transform: translateY(-100%);
  animation: 0.3s slidedown 0.3s forwards ease-out;
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* animated */
.tooltip > div:nth-child(2) {
  position: absolute;
  inset: 0 0 95% 0;
  background-color: rgba(30, 20, 20, 0.8);
  animation: 0.3s slidein;
}
