/* tooltip */

.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  color: white;
  overflow: hidden;
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.tooltip-animate {
  position: absolute;
  inset: 0 0 95% 0;
  background-color: rgba(30, 20, 20, 0.8);
  animation: 0.5s slidein;
}

@keyframes slidedown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.tooltip-text {
  padding: 10px 20px 10px 20px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  background-color: rgba(30, 20, 20, 0.2);
  transform: translateY(-100%);
  animation: 0.3s slidedown 0.5s forwards ease-out;
}

/* description */
.desc {
  position: absolute;
  display: none;
  justify-content: flex-end;
  inset: 0;
}

.desc-outer {
  width: 100%;
  height: 100%;
}

.desc-inner {
  width: 30%;
  background-color: rgb(5, 10, 12);
}

@media (max-width: 768px) {
  .desc-outer {
    width: 20%;
  }
  .desc-inner {
    width: 80%;
  }
}

/* common */

.visible {
  display: block;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

/* loading */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background: black;
}

@keyframes fadein-spiral {
  from {
    opacity: 0.3;
    transform: scale(0.3);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.progress {
  position: relative;
  width: 300px;
  height: 300px;
  font-size: 30px;
  color: white;
  border: 1px solid rgba(235, 232, 52, 0.7);
  border-radius: 50%;
  cursor: pointer;
  transform: scale(0.3);
  animation: 0.7s fadein-spiral cubic-bezier(1, -0.01, 0.53, 0.79) forwards;
}

.progress::before {
  content: "";
  position: absolute;
  inset: 1%;
  border: 1px solid rgba(235, 232, 52, 0.3);
  border-radius: 50%;
}

.progress::after {
  content: "";
  position: absolute;
  inset: 2%;
  border: 1px solid rgba(235, 232, 52, 0.1);
  border-radius: 50%;
}

.progress:hover {
  border-color: white;
}

.progress span {
}

.progress button {
  width: 50%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
