.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  color: white;
  overflow: hidden;
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.tooltip-animate {
  position: absolute;
  inset: 0 0 95% 0;
  background-color: rgba(30, 20, 20, 0.8);
  animation: 0.5s slidein;
}

@keyframes slidedown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.tooltip-text {
  padding: 10px 20px 10px 20px;
  font-size: 30px;
  cursor: default;
  background-color: rgba(30, 20, 20, 0.2);
  transform: translateY(-100%);
  animation: 0.3s slidedown 0.5s forwards ease-out;
}

.visible {
  display: block;
}

.hide {
  display: none;
}
